@model IEnumerable<Condos.Entities.InvitadosFrecuentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreInvitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacaVehiculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreInvitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacaVehiculo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvitadoFrecuenteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvitadoFrecuenteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvitadoFrecuenteID })
        </td>
    </tr>
}

</table>
