@model Condos.Entities.Inmueble

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condominio.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condominio.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsPublico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsPublico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InmuebleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
