@model IEnumerable<Condos.Entities.Inmueble>

@{
    ViewBag.Title = "Crear Inmuebles por Condominio";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create",new { },new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condominio.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsPublico)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condominio.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsPublico)
        </td>

       <td>
           @if (!string.IsNullOrEmpty(item.Image))
           {
               <img src="@Url.Content(item.Image)" alt="Image" style="width:100px; height:150px; max-width: 100%; height:auto" />
           }
       </td>

        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InmuebleID}, new {@class = "btn btn-warning" }) 
            
        </td>
    </tr>
}

</table>
